.top-sec i.fa {
    margin-left: 15px;
}

.bnr-top-src.text-bbner {
    position: absolute;
    width: 100%;
    max-width: 600px;
    left: 28%;
    transform: translate(-50%, -50%);
    top: 50%;
}

a.btn.btn-primary.btn-banner {
    background: #fff;
    border: none;
    color: #29a76c;
    padding: 12px 20px;
    font-size: 20px;
    margin-top: 20px;
}

.bnr-top-src.text-bbner h5 {
    color: #fff;
    font-family: 'Quicksand-Regular';
}

.step-come h3 {
    font-size: 24px;
    color: #29a76c;
}

.step-come p {
    font-size: 16px;
    font-family: 'Quicksand-Medium';
}

.circle {
    background: #29a76c;
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    color: #fff;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-bottom: 20px;
	box-shadow: 1px 1px 20px 1px #cecece;
	
background: #359197; /* Old browsers */
background: -moz-linear-gradient(top,  #359197 0%, #2da079 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #359197 0%,#2da079 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #359197 0%,#2da079 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#359197', endColorstr='#2da079',GradientType=0 ); /* IE6-9 */

}

.circle a {
    color: #fff;
}

section.calen-sec h2.step-h {
    margin-bottom: 30px;
}

.top-usr img {
    width: 50px;
    object-fit: contain;
    margin-bottom: 10px;
    margin-top: 10px;
}

.log-had.reg-email p span {
    display: block;
}

.log-had.reg-email p a {
    color: #25a770;
    text-decoration: none;
}